@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* global */
* {
  font-family: Georgia;
}

body {
  width: 100%;
}

div#content {
  max-width: 901px;
  margin: auto;
}

/* header */
header {
  min-height: 90px;
}

#logotype {
  font-family: Yellowtail;
  font-size: 2em;
}

#logo {
  display: block;
  float: left;
}
p.logo-container {
  display: inline;
}

p span.subtext {
  color: black;
}
span#icons {
  display: block;
  float: right;
}

span#icons img {
  float:left;
}

/*article */
section.divider {
  min-height: 10px;
  background:
  /* On "top" */
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    #eee,
    #999
  );
}

#recipe p {
  line-height: 1.4em;
  padding-top: 10px;
  text-indent: 30px;
}

/* recipe header */
#title {
  margin-bottom: 20px;
}

h1 {
  font-family: Oswald;
  font-size: 2em;
  margin-bottom: 0px;
}

header h1, h4 {
  display: inline;
}

.subtext {
  font-family: Oswald;
  font-size: 0.5em;
  text-transform: uppercase;
  color: #a5a9b4;
  display: inline;
}

img.print {
  display: block;
  float: right;
}

div#print {
  float: right;
}

/* notecard */
section#notecard {
  background-image: url("images/list-bg.png");
  background-repeat: no-repeat;
  min-height: 305px;
  margin: 30px 0;
}

form.recipe {
  position: relative;
  width: 40%;
  float: left;
  padding-top: 50px;
  padding-left: 50px;
  min-height: 255px;
  line-height: 1.5em;
}
